NEXT_PUBLIC_DEMO_MODE=true
NEXT_PUBLIC_SCHOOL_NAME=NEXT SCHOOL

# Turso DB (M2)
TURSO_DATABASE_URL=libsql://your-db-name.turso.io
TURSO_AUTH_TOKEN=
# 로컬 dev는 file:./dev.db 가능

# JWT (M2)
JWT_SECRET=replace-with-256bit-random-string
